$textColor: #3F3F3F;
$background: rgb(255, 254, 251);
$backgroundLight: rgb(255, 254, 251, .8);
$grey: #B4B4B4;
$lightGrey: #EEEEEE;
$deleteColor: #FF8484;
$black: #000;
$white: #fff;
$successColor: #7BAE73;

$fontFamily: 'Source Sans Pro';
$container: 1440px;

$shadowSmall: 0px 4px 6px 0px rgba(0, 0, 0, 0.06);
$shadowLarge: 0px 8px 30px 0px rgba(0, 0, 0, 0.06);